@media (max-width: 525px){
    .sobre_nos div p{
    text-align: center;
    line-height: 21px;
    margin: 10px;
}


.galeria_1 img, .galeria_2 img{
    width: 110px;
}

.esconder{
    display: none;
}
}